*.py[cod]
_*_pkt.py
bisturi/_*_pkt.py
tests/_*_pkt.py

# C extensions
*.so

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Dev
.*.swp

.flinks.tmp
.fnames.tmp
README.rst
.check-secrets-impl.sh

dist/
